.submit-btn {
	padding: 15px 20px 15px 20px;
	border-radius: 8px;
	border: 1px solid #99004D;
	text-align: center;
	background-color: white;
	color: #99004D;
	font-family: "Times New Roman", sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.submit-btn:hover {
	box-shadow: 1px 2px 2px #000000;
}

.btn-container {
	margin-top: 20px;	
}

.form-container {
	width: 50%;
	height: auto;
	margin: 50px auto;
}

