
header {
	width: 100%;
	height: 210px;
	position: relative;
	background-color: #99004D;
}

nav ul {
	list-style-type: none;	
}

nav ul li {
	display: inline;	
}

nav ul li:nth-child(2) {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

nav ul li a:hover {
	text-decoration: none;
	background-color: none;
	color: white;
}

.nav-panel {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-right: 50px;
	background-color: none;
}

.dd-btn {
	padding: 5px 15px 5px 15px;
}

.dd-content a {
	display: block;
	text-align: center;
	padding: 5px 15px 8px 15px;
	background-color: white;
}
 
.dd-btn, .dd-content a {
	text-decoration: none;
	font-family: "Times New Roman", sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: black;
}

.dd-content {
	display: none; 	
	position: absolute;
	z-index: 1;
}

.dd-menu:hover .dd-content {
	display: block;
}

.dd-content a:hover {
	background-color: gray;
}

nav ul li:nth-child(2) .dd-content{
	position: absolute;
	left: 100px;
}

.active {
	color: white;
}

