#electronic, #others {
	height: 550px;
	background-color: black;
}

#hardware {
	height: 550px;
	background-color: white;
}

#electronic span, #others span  {
	color: white;
}

#hardware {
	color: black;
}
