<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block link %}
			{% for style in styles %}
				<link rel="stylesheet" href="/Portfolio/web/css/{{ style }}.css" />
			{% endfor %}
		{% endblock %}
	</head>
	<body>
		<header>
			{% include 'header.twig' %}
		</header>
		{% block content %}{% endblock %}
		<footer>
			{% include 'footer.twig' %}
		</footer>
	</body>
</html>
