<div class="nav-panel">
	<nav>
		<ul>
			{% for item in nav %}
				<li class="dd-menu">
					<a href="{{ item.href }}" class="dd-btn">{{ item.pg }}</a>
					{% if 'dd' is defined %}
						<div class="dd-content">
							{% for links in item.dd %}
								<a href="{{ links.href }}">{{ links.sec}}</a>
							{% endfor %}
						</div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
</div>
